@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header */

.material-icons {
  color: rgb(128, 126, 126);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  /* background: red; */
  background-color: #202020;
  z-index: 1;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 15px;
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}

.header__search form {
  border: none;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: 1px solid black;
  height: 100%;
  background-color: #121212;
}

.header__search input:focus {
  outline: 0;
  border-color: #37aabe;
  border-radius: 2px;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: #313131;
}

#avt {
  border-radius: 55%;
  width: 24px;
}

/* Sidebar */
.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: #202020;
  overflow-y: scroll;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.cate-first-child {
  background-color: #4e4d4d;
}
#cate {
  color: rgb(229, 226, 226);
}
.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
  color: #fefefe;
}

.sidebar__category:hover {
  background: #383434;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #777;
  border: none;
}

/* categori */

.categories {
  padding: 1rem 1rem;
  border-top: 1px solid #777;
  background: #202020;
  z-index: 1;
  overflow-x: scroll;
  position: fixed;
  top: 70px;
}

.categories::-webkit-scrollbar {
  height: 4px;
  background-color: #4b4a4a;
}

.category-section {
  display: flex;
  white-space: nowrap;
  word-wrap: none;
  z-index: 1;
}

.category:first-child {
  background: #ffffff;
  color: rgb(2, 1, 1);
}
.category:first-child i {
  color: rgb(231, 231, 231);
}

.category {
  margin-right: 1rem;
  border: 1px solid #777;
  border-radius: 900px;
  background: #4d4d4d;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  color: white;
}

/* videos */

.videos {
  background-color: #181818;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.videos::-webkit-scrollbar {
  display: none;
}

.video-details {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.video-channel,
.video-metadata {
  text-decoration: none;
  color: #b8abab;
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
}

.thumbnail-image {
  width: 100%;
}

.channel-logo {
  border-radius: 50%;
  background: #aaa;
  margin-right: 1rem;
}

.video-title {
  font-weight: 520;
  text-decoration: none;
  font-size: 16px;
  line-height: 2rem;
  max-height: 4rem;
  color: white;
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.video-container {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  z-index: 0;
  position: relative;
  top: 50px;
}

.video {
  width: 310px;

  margin-bottom: 30px;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  width: 100%;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 2rem;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}

@media (max-width: 1280px) {
  .video-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 2rem;
  }
}

@media (max-width: 1024px) {
  .header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }

  .header__search input {
    width: 300px;
  }

  .videos {
  }

  .video-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 2rem;
  }
}

@media (max-width: 980px) {
  .video-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 2rem;
  }
}

@media (max-width: 941px) {
  .header__search input {
    width: 300px;
  }

  .video-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 2rem;
  }
}
@media (max-width: 770px) {
  .header__search {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    z-index: 2;
    transform: translateX() 2s;
  }

  .video-section {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 425px) {
  .header__search {
    display: none;
  }

  .header__icons .material-icons {
    display: none;
  }

  .header__icons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    z-index: 2;
  }

  .video-section {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 2rem;
  }
}
